[submodule "tracking"]
	path = tracking
	url = https://github.com/cbainbri/tracking_pipeline.git
[submodule "food_analysis"]
	path = food_analysis
	url = https://github.com/cbainbri/food_encounter_analysis.git
[submodule "opto_analysis"]
	path = opto_analysis
	url = https://github.com/cbainbri/opto_analysis.git
